ul.parts-menu

	//Part 2
	li.parts-menu__item.parts-menu__item
		a(href="#")
			img.parts-menu__thumbnail(src="dist/images/example.jpg" width="75")
			.parts-menu__part-no Part 2 <span class="parts-menu__date"> Date </span>
			.parts-menu__title Title


	//Part 2, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 2 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title
	

	//Part 3, inactive
	li.parts-menu__item.parts-menu__item
		a(href="#")
			img.parts-menu__thumbnail(src="dist/images/example.jpg" width="75")
			.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
			.parts-menu__title Title


	//Part 3, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title







