ul.parts-menu

	//Part 1
	li.parts-menu__item
		a(href="http://data.baltimoresun.com/news/bridging-the-divide/")
			img.parts-menu__thumbnail-splash(src="images/example.jpg")
			.parts-menu__part-no Part 1 <span class="parts-menu__date"> March 17, 2017 </span>
			.parts-menu__title Bridging the divide


	//Part 2
	li.parts-menu__item.parts-menu__item--inactive
		a(href="javascript:void(0);")
			img.parts-menu__thumbnail-splash(src="images/example.jpg")
			.parts-menu__part-no Part 2 <span class="parts-menu__date"> Coming Soon </span>
			.parts-menu__title Title
	//- //Part 3
	//- li.parts-menu__item
	//- 	a(href="javascript:void(0);")
	//- 		img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 		.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
	//- 		.parts-menu__title Title
	//- //Part 2, inactive
	//- li.parts-menu__item.parts-menu__item--inactive
	//- 	a(href="javascript:void(0);")
	//- 		img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 		.parts-menu__part-no Part 2 <span class="parts-menu__date"> Date </span>
	//- 		.parts-menu__title Title
	//Part 3, inactive
	li.parts-menu__item.parts-menu__item--inactive
		a(href="javascript:void(0);")
			img.parts-menu__thumbnail-splash(src="images/example.jpg")
			.parts-menu__part-no Part 3 <span class="parts-menu__date"> Coming Soon </span>
			.parts-menu__title Title

	//Part 4, inactive
	li.parts-menu__item.parts-menu__item--inactive
		a(href="javascript:void(0);")
			img.parts-menu__thumbnail-splash(src="images/example.jpg")
			.parts-menu__part-no Part 4 <span class="parts-menu__date"> Coming Soon </span>
			.parts-menu__title Title
	