ul.parts-menu

	//Part 1
	li.parts-menu__item
		a(href="http://data.baltimoresun.com/news/bridging-the-divide/")
			img.parts-menu__thumbnail-splash(src="images/part1.jpg")
			.parts-menu__part-no Part 1 <span class="parts-menu__date"> March 17, 2017 </span>
			.parts-menu__title Bridging the divide
			.parts-menu__p When volunteers come together to redraw the boundary lines for elementary schools in the Catonsville area, the fault lines in the community are exposed. The fierce debate is a window into why it's so tough to integrate schools.    


	//Part 2
	li.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/investigations/bs-md-school-segregation-series-henderson-20170321-story.html")
			img.parts-menu__thumbnail-splash(src="images/part2.jpg")
			.parts-menu__part-no Part 2 <span class="parts-menu__date"> March 22, 2017 </span>
			.parts-menu__title Struggles of new East Baltimore school show challenges of integration
			.parts-menu__p When Henderson-Hopkins school opened three years ago, city parents were drawn to the promise of strong academics and a student body that would include the children of Hopkins' staff. Today, the school is struggling - and starting over. 
	//- //Part 3
	//- li.parts-menu__item
	//- 	a(href="javascript:void(0);")
	//- 		img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 		.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
	//- 		.parts-menu__title Title
	//- //Part 2, inactive
	//- li.parts-menu__item.parts-menu__item--inactive
	//- 	a(href="javascript:void(0);")
	//- 		img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 		.parts-menu__part-no Part 2 <span class="parts-menu__date"> Date </span>
	//- 		.parts-menu__title Title
	//Part 3, inactive
	li.parts-menu__item
		a(href="javascript:void(0);")
			img.parts-menu__thumbnail-splash(src="images/part3.jpg")
			.parts-menu__part-no Part 3 <span class="parts-menu__date"> Coming Soon </span>
			.parts-menu__title 
			.parts-menu__p Black and white students are more likely to sit next to each other in Howard County schools than almost anywhere else in Maryland. But within those integrated schools, when it comes to advanced classes, school officials have found a de facto system of segregation.


	//Part 4, inactive
	li.parts-menu__item
		a(href="javascript:void(0);")
			img.parts-menu__thumbnail-splash(src="images/part4.jpg")
			.parts-menu__part-no Part 4 <span class="parts-menu__date"> Coming Soon </span>
			.parts-menu__title 
			.parts-menu__p As a way to shrink the achievement gap, some education leaders in Maryland are trying to find a path to integrate schools by race and class. They're looking to models like Hartford, with its regional magnet schools. 

	//Graphic
	li.parts-menu__item
		a(href="http://data.baltimoresun.com/news/bridging-the-divide/exposure-graphic/")
			img.parts-menu__thumbnail-splash(src="images/exposure-thumb-splash.png")
			.parts-menu__part-no Graphic <span class="parts-menu__date"> March 17, 2017 </span>
			.parts-menu__title How integrated is your school district?
			.parts-menu__p Minority students in Maryland are more likely to attend school with minority students. White students are more likely to attend schools with white students.  If schools were integrated, the demographics of the schools would match the demographics of people living in the school district.

	
	//Map
	li.parts-menu__item
		a(href="http://data.baltimoresun.com/news/bridging-the-divide/maryland-schools-map/")
			img.parts-menu__thumbnail-splash(src="images/map-thumb-splash.png")
			.parts-menu__part-no Map <span class="parts-menu__date"> March 17, 2017 </span>
			.parts-menu__title Economic and racial composition of Maryland public schools
			.parts-menu__p Maryland is an economically and racially diverse state. However, that diversity is not always reflected in the composition of school districts. 

	
	