/* Header styles */

$header-bp1: 1125px //Video proportions make the video shorter than the header height, so allow video to supply height
$header-bp2: 1024px //Replace video with still
$header-bp3: 768px //Tablet
$header-bp4: 515px //Adjust title size
$header-bp5: 415px //Adjust title size again

.header
	position: relative
	width: 100%
	height: 220vh
	margin: 0 0 30px 0
	border: 0
	background-color: #222 //temp?
	overflow: hidden
	@media (max-width: $header-bp3)
		max-height: none

	// &:after
	// 	content: ""
	// 	position: fixed
	// 	top: 0
	// 	left: 0
	// 	+size(100%)
	// 	background-image: url($datalink + "images/placeholder/ph-0.jpg")
	// 	background-position: center center
	// 	background-size: cover
	// 	opacity: 0.1
	// 	z-index: 0

	&__bg
		position: fixed
		bottom: 0
		left: 0
		width: 100%
		height: 100vh
		// min-height: 100%
		// +size(100%)
		// background-image: url($datalink + "images/placeholder/ph-0.jpg")
		// background-position: center center
		// background-size: cover
		opacity: 0
		z-index: 5
		@include transition(all 1.5s ease)
		video
			height: 100vh
			min-height: 100%
			+size(100%)
			display: block
			@media (max-width: $header-bp2)
				display: none
			object-fit: cover

	&__seriesTitle
		position: relative
		// top: -9999px
		// left: -9999px
		// bottom: -9999px
		// right: -9999px
		// top: 50%
		display: table-cell
		width: 100%
		height: 0
		margin: auto
		text-align: center
		vertical-align: middle
		z-index: 6
		h1
			display: inline-block
			width: 100%
			margin: 0 auto
			text-transform: uppercase
			font-size: 72px

	&__background-video
		position: absolute
		top: 0
		left: 0
		z-index: 1
		width: 100%
		min-height: 100%
		video
			+size(100%)
			display: block
			@media (max-width: $header-bp2)
				display: none
		img
			background-color: #222
			width: 100%
			display: block
			@media (min-width: $header-bp2 + 1)
				display: none

			
		@media (max-width: $header-bp1)
			position: static

		@media (min-width: $header-bp3+1)

			&:before //Overlay to darken the video
				content: ''
				position: absolute
				top: 0
				left: 0
				+size(100%)
				background-color: rgba(0,0,0,0.5)

	&__text
		position: relative
		top: 250px
		left: 0
		width: 100%
		color: white
		z-index: 6
		opacity: 1
		text-align: center
		font-family: $prata

		@media (max-width: $header-bp4)
			top: 100px

	&__part-no
		font:
			family: $accentFont-0
			size: 20px
		text-transform: uppercase
		margin-bottom: 15px
		color: rgba(white,0.7)
		
		@media (max-width: $header-bp3)
			font-size: 18px
			padding-top: 10px

	&__title
		display: inline-block
		margin: 0 auto
		font-size: 90px
		font-weight: normal
		line-height: 1
		z-index: 5
		span 
			opacity: 0
		&--0
			&.animation
				animation: fade-in 0.8s 1.5s forwards
		&--1
			&.animation
				animation: fade-in 1.5s 2.2s forwards
		&--2
			color: $blue
			&.animation
				animation: fade-in 2.2s 2.9s forwards
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 50%
			z-index: 0
			border: 0
			border-bottom: 3px solid #222
		&.animation
			&:before
				animation: grow-width 2.5s 3.3s forwards
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 50%
			border: 0
			border-bottom: 3px solid
			border-image: url($datalink + 'images/border-h.svg') 1 stretch
			z-index: -1

		@media (max-width: $header-bp2)
			font-size: 70px	

		@media (max-width: $header-bp3)
			font-size: 48px

		@media (max-width: $header-bp4)
			font-size: 36px

		@media (max-width: $header-bp5)
			font-size: 28px

	&__chatter
		max-width: 600px
		margin: 2em auto
		font-size: 24px
		opacity: 0
		&.animation
			animation: fade-in 3.3s 4s forwards
		span
			color: $yellow
		@media (max-width: $header-bp2)
			font-size: 20px	

		@media (max-width: $header-bp3)
			font-size: 18px	

		@media (max-width: $header-bp4)
			font-size: 14px	