//Fonts
$georgia: Georgia, Times New Roman, Times, serif
// $prata: 'Prata', 'Old Standard TT', 'Georgia', 'Times', serif
// $oldstd: 'Old Standard TT', 'Georgia', 'Times', serif
// $ptserif: 'PT Serif', 'Georgia', 'Times', serif

$franklin: "franklin-gothic-urw", sans-serif;
// $lato: 'Lato', 'Verdana', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif
// $roboto: 'Roboto Condensed', 'Verdana', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif
// $montserrat: 'Montserrat', 'Verdana', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif
// $ptsans: 'PT Sans', 'Verdana', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif

//Font Assignments
$headFont-0: $franklin
$bodyFont: $georgia
$accentFont-0: $franklin

//Colors
$yellow: #f99d1d
$red: #df2228
$blue: #00acc8
$green: #35baa6
$dkBlue: #0f4453
$teal: #155757

$facebook: #3b5998
$twitter: #00aced

//Breakpoints
$no-rail: 730px

//Tophat
$tophat-bg: #F0F0F0
$tophat-social: #AAA
$tophat-social--hover: #FFF
