ul.parts-menu

	//Part 2, inactive
	li.parts-menu__item.parts-menu__item--inactive
		img.parts-menu__thumbnail(src="images/thumbnails/part-2.jpg" width="75")
		.parts-menu__part-no Part 2 <span class="parts-menu__date"> Nov. 4, 2015 </span>
		.parts-menu__title Facing hardship, finding resilience


	//Part 2, active
	//- li.parts-menu__item
	//- 	a(href="#")
	//- 		img.parts-menu__thumbnail(src="images/thumbnails/part-2.jpg" width="75")
	//- 		.parts-menu__part-no Part 2 <span class="parts-menu__date"> Nov. 4, 2015 </span>
	//- 		.parts-menu__title Facing hardship, finding resilience
	
	// <li class="parts-menu__item">
	// 	<a href="#">
	// 		<img src="images/thumbnails/part-2.jpg" width="75" class="parts-menu__thumbnail">
	//     	<div class="parts-menu__part-no">Part 2 <span class="parts-menu__date"> Nov. 4, 2015 </span></div>
	//     	<div class="parts-menu__title">Facing hardship, finding resilience</div>
	//     </a>
	// </li>


	//Part 3, inactive
	li.parts-menu__item.parts-menu__item--inactive
		img.parts-menu__thumbnail(src="images/thumbnails/part-3.jpg" width="75")
		.parts-menu__part-no Part 3 <span class="parts-menu__date"> Nov. 8, 2015 </span>
		.parts-menu__title The newcomer


	//Part 3, active
	//- li.parts-menu__item
	//- 	a(href="#")
	//- 		img.parts-menu__thumbnail(src="images/thumbnails/part-3.jpg" width="75")
	//- 		.parts-menu__part-no Part 3 <span class="parts-menu__date"> Nov. 8, 2015 </span>
	//- 		.parts-menu__title The newcomer

	// <li class="parts-menu__item">
	// 	<a href="#">
	// 		<img src="images/thumbnails/part-3.jpg" width="75" class="parts-menu__thumbnail">
	//     	<div class="parts-menu__part-no">Part 3 <span class="parts-menu__date"> Nov. 8, 2015 </span></div>
	//     	<div class="parts-menu__title">The newcomer</div>
	//     </a>
	// </li>






