include includes/_mixins.pug

- var datalink = "http://data.baltimoresun.com/news/bridging-the-divide/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">

html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Bridging the Divide | The Baltimore Sun
		meta(name="description", content="The struggle to move past segregated schools.")
		meta(name="author", content="The Baltimore Sun")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		link(rel="stylesheet", type="text/css", href=datalink + "stylesheets/style.css?3171310")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Montserrat|Prata|Roboto+Condensed")
		link(rel="stylesheet", href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css")

		//Facebook OpenGraph
		meta(property="og:title", content="Bridging the Divide")
		meta(property="og:url", content="http://data.baltimoresun.com/news/bridging-the-divide/")
		meta(property="og:image", content="http://data.baltimoresun.com/news/bridging-the-divide/images/thumb-fb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="The struggle to move past segregated schools.")
		meta(property="fb:app_id", content="310302989040998")

		//Twitter 
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltimoresun")
		meta(name="twitter:title", content="Bridging the Divide")
		meta(name="twitter:description", content="The struggle to move past segregated schools.")
		meta(name="twitter:image", content="http://data.baltimoresun.com/news/bridging-the-divide/images/thumb-twitter.png")
		meta(name="twitter:domain", content="baltimoresun.com")

		//Omniture Code
		include includes/omniture.html

		//BS Ad Code
		include includes/ads/ad-for-header.html

	body
		script(src="http://www.baltimoresun.com/thirdpartyservice?disablessor=true")
		.hideForIntro(data-trb-thirdpartynav style='position: fixed;')
		.progressbar.hideForIntro
			.colors
		.socialButtons.hideForIntro
			i.icon-twitter
			i.icon-facebook
		//block for story layout
		block content

		include includes/ads/ad-for-body--leaderboard2.html
		
		footer.footer
			section.footer__credits
				ul
					li.label Reporters
					li Erica L. Green
					li Liz Bowie
				ul
					li.label Editor
					li Diana K. Sugg
					li Matt Brown
					li John McIntyre
				ul
					li.label Design / Development / Graphics
					li Adam Marton
					li Jin Bae Kim
					li Caroline Pate
				ul
					li.label Visuals
					li Emma Patti Harris
					li Lloyd Fox


			section.footer__logo
				img(src=datalink + "images/baltimore-sun-logo-white.png" width="300")
			section.footer__comments
				.commentsWrapper
					include includes/comments.html

		//Javascript
		script(src="https://use.typekit.net/nta3eyd.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
			var map;
			var markers;
		//Load jQuery CDN, fall back to local version if necessary		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="' + datalink + 'scripts/jquery-1.10.2.min.js">\x3C/script>')
		//Load the rest
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js")
		script(src=datalink + "scripts/app.js?3171310")
		//Configuration for scrollReveal.js
		script.
			var config = {
				enter: 'right',
				move: '50px',
			 	scale:    { direction: 'up', power: '0' },
			 	vFactor: 0.5
			}
			window.sr = new scrollReveal(config);
