extends _base.pug

block content

	include includes/_data.pug

	.header(style="height:700px;")
			.header__text.animationToggle
				.container.container--header
					h1.header__title.animationToggle
						span.header__title--0.animationToggle Bridging 
						span.header__title--1.animationToggle the 
						span.header__title--2.animationToggle Divide
					p.header__chatter.animationToggle The struggle to move past 
						span segregated schools
			//.header__bg
				video(loop="true" width="100%" height="100%" autoplay muted)
					source(src=datalink + "videos/opener.mp4" type="video/mp4")

	.container.container--article.container--first
		.article
			.article__byline By Liz Bowie and Erica L. Green, The Baltimore Sun

	.article__chapter-title
		.article__chapter-title__text(style="width:300px;")

	p.chapterIntro Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

	.container.container--article
		.article
	

			//menu for series
			figure.inline-media.inline-media--borderLeft.inline-media--full.inline-media--has-title.inline-media--not-mobile(data-sr)
				.inline-media__title In the series
				include includes/_parts-menu.pug


			//series menu for mobile
			figure.inline-media.inline-media--borderLeft.inline-media--pullquote.inline-media--full.inline-media--has-title.inline-media--mobile(data-sr)
				.inline-media__title In the series
				include includes/_parts-menu.pug
